.tasklist-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50vh;
    margin: 0 auto;
    padding: 2rem;
}

.tasklist{
    list-style-type: none;
    width: 100%;
}

.task{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.isCompleted{
    text-decoration: line-through;
}